.sunRise {
  animation: sunRiseMoonDown .9s ease forwards;
  color: currentColor;
}

.moonUp {
  animation: moonUpSunDown .9s ease forwards;
  color: currentColor;
}

@keyframes sunRiseMoonDown {
  0% {
    transform: translateY(0px) translateX(5px) rotate(0deg);
    opacity: 1;
    color: inherit;
  }
  40% {
    transform: translateY(20px) translateX(20px) rotate(90deg);
    opacity: 0;
    color: inherit;
  }

  70% {
    transform: translateY(20px) translateX(-20px) rotate(-90deg);
    opacity: 0;
    color: inherit;
  }
  100% {
    transform: translateY(0px) translateX(-5px) rotate(0deg);
    opacity: 1;
    color: gold;
    box-shadow: 0 0 15px rgb(247, 240, 240);
    border-color: rgba(165, 141, 4, 0.7);
  }
}

@keyframes moonUpSunDown {
  0% {
    transform: translateY(0px) translateX(5px) rotate(0deg);
    opacity: 1;
  }
  40% {
    transform: translateY(20px) translateX(20px) rotate(90deg);
    opacity: 0;
  }

  70% {
    transform: translateY(20px) translateX(-20px) rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) translateX(-5px) rotate(0deg);
    opacity: 1;
    color: rgb(247, 240, 240);
    box-shadow: 0 0 15px rgb(247, 240, 240);
  }
}
